#integracao2{
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vermelha{
  color: red;
}
.azul{
  color: blue;
}
.branca{
  background-color: #444;
  color:antiquewhite;
}

